@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@keyframes scroll-down {
  0%, to {
    background-position-y: 50%;
  }
  50% {
    background-position-y: 70%;
  }
}
html,
body {
  color: #f8f8f8;
  background-color: #f8f8f8;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.1em;
}

.body-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
}

.main .main-link:hover,
.main :focus {
  background: #0075ff;
  transition: all 0.3s ease;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 25px;
  text-align: center;
  align-items: center;
}

.main-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 0.1em;
  line-height: 1.5;
  letter-spacing: 0.3em;
}
@media (max-width: 701px) {
  .main-title {
    font-size: 28px;
  }
}

.main-link {
  color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #1d1d1d;
  padding: 20px 60px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 2;
  width: 50%;
  min-width: 250px;
  letter-spacing: 0.1em;
}

.header {
  background-color: black;
  position: sticky;
  height: 70px;
  top: 0;
  z-index: 10;
}

.header__container {
  margin: 0 auto;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  position: relative;
}

.logo {
  font-weight: 300;
  font-size: 24px;
  cursor: default;
  letter-spacing: 0.2em;
}

.header__burger {
  display: none;
  cursor: pointer;
}

.header__navigation {
  z-index: 2;
}

.navigation__list {
  display: flex;
  gap: 10%;
}

@media (max-width: 768px) {
  .header {
    height: 50px;
  }
  .header__container {
    display: inline-flex;
    min-height: 50px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header__burger::after,
  .header__burger::before {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger span {
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 2px;
    top: 45%;
  }
  .header__burger::after {
    bottom: 0;
  }
  .navigation {
    display: none;
  }
}
.navigation__item {
  text-decoration: none;
  transition: all 0.8s;
  position: relative;
}
.navigation__item ::after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  content: "";
  transition: width 0.3s ease-out;
}
.navigation__item :hover::after {
  width: 100%;
}
.navigation__item :active {
  width: 0;
}

.navigation__link {
  color: inherit;
}

.footer {
  background-color: black;
  border-top: 1px outset #0075FF;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 20px 7% 30px;
  gap: 10%;
}
@media (max-width: 400px) {
  .footer__container {
    flex-direction: column;
  }
  .footer__container .owner {
    width: 100%;
    display: flex;
    gap: 5%;
    justify-content: space-around;
    text-align: left;
    margin-bottom: 25px;
    align-items: baseline;
  }
  .footer__container .owner .owner__name {
    width: 45%;
  }
  .footer__container .owner .owner__logo {
    width: 45%;
    font-size: 16px;
    padding-bottom: 0;
  }
  .footer__container .info {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    justify-content: space-around;
    text-align: left;
  }
  .footer__container .info .info__block-1 {
    font-size: 13px;
  }
  .footer__container .info .info__block-2 {
    font-size: 13px;
  }
}

.footer__owner {
  text-align: left;
}
.footer__owner :not(:last-child) {
  padding-bottom: 15px;
}
@media (max-width: 600px) {
  .footer__owner {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .owner__logo {
    font-size: 20px;
  }
}

.owner__name {
  letter-spacing: 0.07em;
  line-height: 1.5;
}

.footer__info {
  text-align: left;
}
@media (max-width: 600px) {
  .footer__info {
    font-size: 14px;
  }
}

.info :not(:last-child) {
  padding-bottom: 15px;
}

.info__block-1 {
  line-height: 1.5;
}

.info__block-2 {
  line-height: 1.5;
}

.main {
  background-color: #f3f3f3;
  color: black;
}

.greeting {
  background: url(../pictures/background_greeting.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1d1d1d;
  padding-top: 56px;
  padding-bottom: 56px;
  color: #fff;
  text-align: center;
}

.greeting__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.my-name {
  font-weight: 700;
  font-size: 18px;
}

.greeting__title {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 0.1em;
  line-height: 1.5;
}
@media (max-width: 480px) {
  .greeting__title {
    font-size: 28px;
  }
}

.greeting__btn-to-header {
  position: absolute;
  border: 1px solid white;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  bottom: 10%;
  background-image: url("../pictures/icons/greeeting/background_btn_greeting.svg");
  background-repeat: no-repeat;
  background-position: center 50%;
  animation: 0.5s scroll-down infinite forwards;
}
@media (max-height: 480px) {
  .greeting__btn-to-header {
    bottom: 5%;
  }
}

.greeting__btn-to-header:hover {
  border: 1px solid #0075ff;
  background-color: rgba(0, 0, 0, 0);
}

.author {
  font-weight: 400;
  line-height: 2;
}

.author__container {
  margin: 0 auto;
  padding: 86px 15px;
}

.author__head :not(:last-child) {
  margin-bottom: 30px;
}

.author__advantages {
  padding: 50px 0px 30px 0px;
}

.advantages__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
}
@media (max-width: 941px) {
  .advantages__list {
    padding: 0px 15px;
  }
}

.advantages__item {
  min-height: 200px;
  width: 30%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  box-shadow: 0px 2px 2px 0px rgba(34, 60, 80, 0.2);
  margin-bottom: 56px;
}
@media (max-width: 941px) {
  .advantages__item {
    width: 45%;
  }
}
@media (max-width: 624px) {
  .advantages__item {
    width: 90%;
  }
}

.advantages__icon {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.main__portfolio {
  background-color: white;
  padding: 70px 0px;
}

.portfolio__title {
  margin-bottom: 40px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.portfolio__item {
  width: 45%;
  margin-bottom: 50px;
  border-bottom: black 3px solid;
  border-radius: 25px;
}
@media (max-width: 675px) {
  .portfolio__item {
    width: 90%;
  }
}

.portfolio__link {
  color: inherit;
}

.portfolio__link:hover {
  color: #0075FF;
}
.portfolio__link:hover .portfolio__image-wrapper::before {
  opacity: 1;
}
.portfolio__link:hover .portfolio__image-wrapper:after {
  opacity: 1;
  color: white;
  top: 50%;
}

.portfolio__image-wrapper {
  margin-bottom: 15px;
  position: relative;
}

.portfolio__image-wrapper::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  opacity: 0;
  transition: all 0.3s ease;
}

.portfolio__image-wrapper::after {
  content: "Перейти";
  position: absolute;
  top: 30%;
  left: 50%;
  color: inherit;
  background-color: #0075FF;
  padding: 20px 50px;
  border-radius: 40px;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: block;
  opacity: 0;
  transition: all 0.5s ease;
}

.portfolio__image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  z-index: 0;
}

.item__title {
  line-height: 2;
  font-weight: 700;
  transition: all 0.3s ease;
}

.main__contact {
  background-color: black;
  color: rgb(241, 241, 241);
}

.contact__container {
  max-width: 702px;
}

.contact__title {
  padding-top: 78px;
}

.contact__text {
  font-size: 14px;
  padding-top: 54px;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.contact__form {
  padding: 54px 0px;
}
.contact__form :not(:last-child) {
  margin-bottom: 25px;
}

.form__group {
  position: relative;
}

.form__label {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  letter-spacing: 0.1em;
}

.form__input {
  background-color: black;
  color: inherit;
  border: 1px solid white;
  padding: 10px 15px;
  min-width: 100%;
  transition: all 0.5s ease;
  letter-spacing: 0.1em;
  font-weight: 400;
}

.form__input:focus,
.form__input:active {
  border: 1px solid #0075FF;
}

.form__input:focus + .form__label,
.form__textarea:focus + .form__label {
  opacity: 1;
  transition: all 0.5s ease;
  top: -20px;
}

.form__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.form__input:focus::-moz-placeholder {
  color: transparent;
}

.form__input:focus:-moz-placeholder {
  color: transparent;
}

.form__input:focus:-ms-input-placeholder {
  color: transparent;
}

.form__textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.form__textarea:focus::-moz-placeholder {
  color: transparent;
}

.form__textarea:focus:-moz-placeholder {
  color: transparent;
}

.form__textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.form__textarea {
  height: 150px;
}

.form__privacy-policy {
  font-size: 14px;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.privacy-policy-link {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #0075FF !important;
  transition: all 0.3s ease;
}

.privacy-policy-link:hover,
.privacy-policy-link:focus {
  color: #0075FF;
  background-color: rgba(0, 0, 0, 0);
  text-decoration-color: #0075FF;
  text-decoration: none;
  transition: all 0.3s ease;
}

.form__button {
  color: #0075FF;
}

.form__button:focus,
.form__button:hover {
  color: black;
}

.contact__alternative-contact {
  padding-bottom: 76px;
}

.alternative-contact__text {
  padding-bottom: 36px;
  font-size: 14px;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.alternative-contact__links-list {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.links-list__link {
  display: block;
  height: 36px;
  width: 36px;
  background-color: white;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
  transition: all 0.3s ease;
}

.links-list__link:hover {
  background-color: #0075FF;
  transition: all 0.3s ease;
}

.link-1 {
  -webkit-mask-image: url("../pictures/icons/contact/skype.svg");
          mask-image: url("../pictures/icons/contact/skype.svg");
}

.link-2 {
  -webkit-mask-image: url("../pictures/icons/contact/email.svg");
          mask-image: url("../pictures/icons/contact/email.svg");
}

.link-3 {
  -webkit-mask-image: url("../pictures/icons/contact/telegram.svg");
          mask-image: url("../pictures/icons/contact/telegram.svg");
}

.link-4 {
  -webkit-mask-image: url("../pictures/icons/contact/whatsapp.svg");
          mask-image: url("../pictures/icons/contact/whatsapp.svg");
}

.popup__form-2, .popup__form-1 {
  border: 2px solid #242424;
  width: 360px;
  height: 44px;
  color: #424242;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  padding: 10px 16px;
  transition: all 0.2s;
}

.popup {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
  transition: all 0.8s ease 0s;
}

.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotate(0deg);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 0.8s ease 0s;
}

.popup__content {
  background-color: white;
  color: black;
  max-width: 800px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotate(10deg);
}

.popup__close {
  position: absolute;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 5;
  top: 15px;
  right: 25px;
  width: 40px;
  height: 40px;
}

.popup__close:before,
.popup__close:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background: rgb(0, 0, 0);
  right: 0;
}

.popup__close:before {
  transform: rotate(45deg);
}

.popup__close:after {
  transform: rotate(-45deg);
}

.popup__title {
  color: var(--basic-black, #000);
  font-family: "PT Sans Narrow";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
  text-transform: uppercase;
  margin-bottom: 24px;
}

.popup__box-1 {
  margin-bottom: 16px;
}

.popup__form-1 {
  margin-bottom: 16px;
}

.full-form__input:hover {
  border: 2px solid rgb(175, 120, 66);
  transition: all 0.2s;
}

.full-form__input:focus {
  border: 2px solid rgb(175, 120, 66);
  box-shadow: 0px 0px 0px 2px rgb(219, 181, 144);
  transition: all 0.2s;
}

.full-form__input:disabled {
  background-color: rgb(231, 231, 231);
  border: 2px solid rgb(89, 89, 89);
  transition: all 0.2s;
}

.full-form__input:disabled:hover {
  background-color: rgb(231, 231, 231);
  border: 2px solid rgb(89, 89, 89);
}

.full-form__input.error {
  border: 2px solid var(--status-error, #ea5454);
  transition: all 0.2s;
}

.full-form__input.error:focus {
  border: 2px solid var(--status-error, #ea5454);
  transition: all 0.2s;
  box-shadow: 0px 0px 0px 2px rgb(219, 181, 144);
}

.full-form__input.error:hover {
  border: 2px solid var(--special-light, #dbb590);
  transition: all 0.2s;
}

.popup__box-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.check {
  cursor: pointer;
  color: black;
  padding-left: 36px;
  position: relative;
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.check__box {
  top: -2px;
  margin-left: -36px;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #242424;
}

.check__input:checked + .check__box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.00008 9.41421L11.543 12.9571L12.9572 11.5429L9.41429 8L12.9572 4.45711L11.543 3.04289L8.00008 6.58579L4.45718 3.04289L3.04297 4.45711L6.58586 8L3.04297 11.5429L4.45718 12.9571L8.00008 9.41421Z' fill='%23242424'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.check:hover .check__box {
  border: 2px solid #af7842;
}

.check__input:focus + .check__box {
  border: 2px solid #af7842;
}

.check__input:checked:focus + .check__box {
  border: 2px solid #af7842;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.00008 9.41421L11.543 12.9571L12.9572 11.5429L9.41429 8L12.9572 4.45711L11.543 3.04289L8.00008 6.58579L4.45718 3.04289L3.04297 4.45711L6.58586 8L3.04297 11.5429L4.45718 12.9571L8.00008 9.41421Z' fill='%23242424'/%3E%3C/svg%3E") no-repeat center;
}

.check__input:disabled + .check__box {
  border: 2px solid #ffffff;
}

.check__input:checked:disabled + .check__box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.00008 9.41421L11.543 12.9571L12.9572 11.5429L9.41429 8L12.9572 4.45711L11.543 3.04289L8.00008 6.58579L4.45718 3.04289L3.04297 4.45711L6.58586 8L3.04297 11.5429L4.45718 12.9571L8.00008 9.41421Z' fill='%23242424'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #ffffff;
}

.foggot-password {
  color: #000;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  text-decoration-line: underline;
}

.popup-btn-enter {
  display: flex;
  width: 360px;
  background: #000;
  padding: 14px 0px;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
  margin-bottom: 16px;
}

.popup-btn-registration {
  display: flex;
  width: 360px;
  background: #fff;
  padding: 14px 0px;
  justify-content: center;
  align-items: center;
  color: var(--basic-extra-dark, #242424);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
}