// ------------MAIN------------------------------------------------------------>
.main {
  background-color: #f3f3f3;
  color: black;
}
// ------------AUTHOR------------------------------------------------------------>
.author {
  font-weight: 400;
  line-height: 2;
}
.author__container {
  margin: 0 auto;
  padding: 86px 15px;
}
.author__head {
  :not(:last-child) {
    margin-bottom: 30px;
  }
}

.author__advantages {
  padding: 50px 0px 30px 0px;
}
.advantages__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;

  @media (max-width: 941px) {
    padding: 0px 15px;
  }
}
.advantages__item {
  min-height: 200px;
  width: calc(90% / 3);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 2px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 2px 0px rgba(34, 60, 80, 0.2);
  margin-bottom: 56px;
  @media (max-width: 941px) {
    width: calc(90% / 2);
  }
  @media (max-width: 624px) {
    width: 90%;
  }
}
.advantages__icon {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

// ------------PORTFOLIO------------------------------------------------------------>
.main__portfolio {
  background-color: white;
  padding: 70px 0px;
}
.portfolio__title {
  margin-bottom: 40px;
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.portfolio__item {
  width: calc(90% / 2);
  margin-bottom: 50px;
  border-bottom: black 3px solid;
  border-radius: 25px;
  @media (max-width: 675px) {
    width: 90%;
  }
}
.portfolio__link {
  color: inherit;
}
.portfolio__link:hover {
  color: #0075FF;
  .portfolio__image-wrapper::before {
    opacity: 1;
  }
  .portfolio__image-wrapper:after {
    opacity: 1;
    color: white;
		top: 50%;
}
}
.portfolio__image-wrapper {
  margin-bottom: 15px;
  position: relative;
}
.portfolio__image-wrapper::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  opacity: 0;
  transition: all 0.3s ease;
}
.portfolio__image-wrapper::after {
  content: "Перейти";
  position: absolute;
  top: 30%;
  left: 50%;
  color: inherit;
  background-color: #0075FF;
  padding: 20px 50px;
  border-radius: 40px;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: block;
  opacity: 0;
  transition: all 0.5s ease;
}

.portfolio__image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  z-index: 0;
}

.item__title {
  line-height: 2;
  font-weight: 700;
  transition: all 0.3s ease;
}