.main {
  background-color: #f5f5f5;
  color: black;
}
.main__wrapper {
}
.author {
  font-weight: 400;
  line-height: 2;
}
.author__container {
  margin: 0 auto;
  padding: 86px 15px;
}
.author__head {
  :not(:last-child) {
    margin-bottom: 30px;
  }
}

.author__advantages {
  padding-top: 45px;
}
.advantages__list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 5%;
	@media (max-width: 941px) {
    padding: 0px 15px;
  }
}
.advantages__item {
  min-height: 180px;
  width: calc(90% / 3);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @media (max-width: 941px) {
    width: calc(90% / 2);
  }
}
.advantages__icon {
}
.advantages__description {
}
