$background-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.00008 9.41421L11.543 12.9571L12.9572 11.5429L9.41429 8L12.9572 4.45711L11.543 3.04289L8.00008 6.58579L4.45718 3.04289L3.04297 4.45711L6.58586 8L3.04297 11.5429L4.45718 12.9571L8.00008 9.41421Z' fill='%23242424'/%3E%3C/svg%3E");

%popup-form {
  border: 2px solid #242424;
  width: 360px;
  height: 44px;
  color: #424242;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  padding: 10px 16px;
	transition: all 0.2s;
}

.popup {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba($color: black, $alpha: 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
  transition: all 0.8s ease 0s;
}
.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotate(0deg);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 0.8s ease 0s;
}
.popup__content {
  background-color: white;
  color: black;
  max-width: 800px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotate(10deg);
}
.popup__close {
	position: absolute;
	cursor: pointer;
	background-color: rgba($color: #000000, $alpha: 0);
	position: absolute;
	z-index: 5;
	top: 15px;
	right: 25px;
	width: 40px;
	height: 40px;
}

.popup__close:before,
.popup__close:after {
	content: "";
	position: absolute;
	width: 40px;
	height: 2px;
	background: rgb(0, 0, 0);
	right: 0;
}

.popup__close:before {
	transform: rotate(45deg);
}

.popup__close:after {
	transform: rotate(-45deg);
}
.popup__title {
  color: var(--basic-black, #000);
  font-family: "PT Sans Narrow";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
  text-transform: uppercase;
  margin-bottom: 24px;
}
.popup__box-1 {
  margin-bottom: 16px;
}
.popup__form-1 {
  @extend %popup-form;
  margin-bottom: 16px;
}
.popup__form-2 {
  @extend %popup-form;
}
.full-form__input:hover {
	border: 2px solid rgba(175, 120, 66, 1);
	transition: all 0.2s;
}
.full-form__input:focus {
	border: 2px solid rgba(175, 120, 66, 1);
	box-shadow: 0px 0px 0px 2px rgba(219, 181, 144, 1);
	transition: all 0.2s;
}
.full-form__input:disabled {
	background-color: rgba(231, 231, 231, 1);
	border: 2px solid rgba(89, 89, 89, 1);
	transition: all 0.2s;
}
.full-form__input:disabled:hover {
	background-color: rgba(231, 231, 231, 1);
	border: 2px solid rgba(89, 89, 89, 1);
}
.full-form__input.error {
	border: 2px solid var(--status-error, #ea5454);
	transition: all 0.2s;
}
.full-form__input.error:focus {
	border: 2px solid var(--status-error, #ea5454);
	transition: all 0.2s;
	box-shadow: 0px 0px 0px 2px rgba(219, 181, 144, 1);
}
.full-form__input.error:hover {
	border: 2px solid var(--special-light, #dbb590);
	transition: all 0.2s;
}
.popup__box-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.check {
  cursor: pointer;
  color: black;
  padding-left: 36px;
  position: relative;
}
.check__input {
  position: absolute;
  appearance: none;
}
.check__box {
  top: -2px;
  margin-left: -36px;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #242424;

}
// Checked
.check__input:checked + .check__box {
  background-image: $background-checkbox;
	background-repeat: no-repeat;
}
// Hovered
.check:hover .check__box {
  border: 2px solid #af7842;
}
//  Focused
.check__input:focus + .check__box {
  border: 2px solid #af7842;
}
.check__input:checked:focus + .check__box {
  // background-image: $background-checkbox;
	// background-repeat: no-repeat;
  border: 2px solid #af7842;
	background: $background-checkbox no-repeat center;
}
//  Disabled
.check__input:disabled + .check__box {
  border: 2px solid #ffffff;
}
.check__input:checked:disabled + .check__box {
  background-image: $background-checkbox;
	
	background-position: center;
	background-repeat: no-repeat;
  border: 2px solid #ffffff;
}

.foggot-password {
  color: #000;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  text-decoration-line: underline;
}
.popup-btn-enter {
  display: flex;
  width: 360px;
  background: #000;
  padding: 14px 0px;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
  margin-bottom: 16px;
}
.popup-btn-registration {
  display: flex;
  width: 360px;
  background: #fff;
  padding: 14px 0px;
  justify-content: center;
  align-items: center;
  color: var(--basic-extra-dark, #242424);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
}
