@import "_zero";

@keyframes scroll-down {

	0%,
	to {
		background-position-y: 50%;
	}

	50% {
		background-position-y: 70%;
	}
}

// ------------COMMON------------------------------------------------------------>
html,
body {
	color: #f8f8f8;
	background-color: #2e2e2e;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: .1em;
}

.body-wrapper {
	min-height: 100vh;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
}

.main {

	.main-link:hover,
	:focus {
		background: #0075ff;
		transition: all 0.3s ease;
	}
}

.container {
	max-width: 1220px;
	width: 100%;
	margin: 0 auto;
	padding: 0px 25px;
	text-align: center;
	align-items: center;
}

.main-title {
	text-transform: uppercase;
	font-size: 32px;
	font-weight: 800;
	letter-spacing: 0.1em;
	line-height: 1.5;
	letter-spacing: .3em;

	@media (max-width: 701px) {
		font-size: 28px;
	}
}

.main-link {
	color: white;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	background: #1d1d1d;
	padding: 20px 60px;
	transition: all 0.3s ease;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 2;
	width: 50%;
	min-width: 250px;
	letter-spacing: .1em;
}


@import "_header";
@import "_footer";
@import "_body";